<div class="container">
  <app-card
  [cardText]="'
  Sou um desenvolvedor e empreendedor que acredita que a educação transforma realidades, busca aprender constantemente, se motiva com desafios, objetiva proporcionar soluções de valor e colaborar com o desenvolvimento da equipe. '"
  [cardHeader]="'Sobre mim'"
  [cardParagraph]="'Mais detalhes'"
  >
</app-card>
  <app-card
  [cardText]="'Spring ou Node, React ou Angular, Flutter ou Kotlin, minha escolha é o que indica ser melhor para o projeto'"
  [cardHeader]="'PROJETOS'"
  [cardParagraph]="'Mais sobre meus projetos'">
</app-card>
</div>