<div class="container">
<app-card
  [cardText]="'Projeto Kotlin para Android.'"
  [cardHeader]="'Hello Tempo'"
  [cardParagraph]="'Ir para o repositório'"
  >
</app-card>
  <app-card
  [cardText]="'Projeto Spring para Gestão de inventário'"
  [cardHeader]="'STANDARD'"
  [cardParagraph]="'Ir para o repositório'"
  >
</app-card>
  <app-card
  [cardText]="'Meu primeiro projeto com Kafka'"
  [cardHeader]="'KAFKA'"
  [cardParagraph]="'Ir para o repositório'"
  >
</app-card>
  <app-card
  [cardText]="'Projeto de login com stack MERN (MongoDB, Express, React e Node.js)'"
  [cardHeader]="'MERN LOGIN'"
  [cardParagraph]="'Ir para o repositório'"
  >
</app-card>